body{
    background-color: white;
    color: rgb(20, 33, 61);
}
.content_heading_wrapper{
    margin: 0 auto;
    max-width: 40em;
    text-align: center;
    padding: 0 0 2em 0;
}
.content_heading{
    font-size: 80px;
    margin: 0.55em 0;
    padding: 0 1em;
    line-height: 1.25;
}

.content_heading_par{
    font-size: 22.5px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    max-width: 30em;
    margin: 0 auto;
    padding: 1em 1em;
}
.content_heading_par a{
    text-decoration: none;
    color: black;
    background: linear-gradient(#FCA311, #FCA311);
    background-size: 100% 100%;
    
    background-position: 0 90%;
    background-repeat: no-repeat;
    transition: all .1s ease-in ;
    padding: 0 0.05em;
}
.content_heading_par a:hover, a:focus {
    background-size: 100% 0.1em;
    outline: none;
}

.content_text_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1rem;
}
.content{
    width: var(--col-width);
    max-width: var(--col-width);
    width: 100%;
    padding: 1.5em 1em;
    margin: 0 auto;
    line-height: 2;
    opacity: 1;
    font-size: 25px;
}
h1{
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Roboto', sans-serif;
   
}
.content a {
    text-decoration: none;
    color: black;
    background: linear-gradient(#FCA311, #FCA311);
    background-size: 100% 100%;
    
    background-position: 0 90%;
    background-repeat: no-repeat;
    transition: all .1s ease-in ;
    padding: 0 0.05em;
}
.content a:hover, a:focus {
    background-size: 100% 0.1em;
    outline: none;
}
span{
   color: #FCA311;
   }

.background_wrapper{
    overflow: hidden;
  position: relative;
}
.background{
    opacity: 0.1;
  position: absolute;
  left: 1250px;
  top: 1750px;
  width: 20%;
  height: auto;
}
.background_second{
    opacity: 0.1;
  position: absolute;
  left: 200px;
  top: 990px;
  width: 10%;
  height: auto;
}
/*flying trophy*/
.flier {
    pointer-events: none;
    
    
}
.flier img{
    width: 10%;
    height: 35%;
}

.flier > * {

        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

@media only screen and (max-width: 992px) {
    .flier {
        display: none;    
    }
  } 
  @media only screen and (max-width: 992px){
      .content_heading{
          font-size: 50px;
      }
  }